<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.QuestionMapper">

<select id="selectQuestionList"
	resultType="goodee.gdj58.online.vo.Question"
	parameterType="int">
	
	SELECT
		question_no questionNo
		, test_no testNo
		, question_idx questionIdx
		, question_title questionTitle
	FROM
		question
	WHERE
		test_no = #{testNo}
</select>

</mapper>