<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TestMapper">

	<select id="selectTestOne"
		resultType="java.util.Map"
		parameterType="int">
		SELECT
			test.test_no testNo
			, test.teacher_no teacherNo
			, test.test_title testTitle
			, test.test_date testDate
			, teacher.teacher_name teacherName
			, question.question_no questionNo
			, question.question_idx questionIdx
			, question.question_title questionTitle
			, example.example_no exampleNo
			, example.example_idx exampleIdx
			, example.example_title exampleTitle
			, example.example_ox exampleOx
		FROM test 
			INNER JOIN teacher
			ON test.teacher_no = teacher.teacher_no
			INNER JOIN question
			ON test.test_no = question.test_no
			INNER JOIN example
			ON question.question_no = example.question_no
		WHERE
			test.test_no = #{testNo}
		ORDER BY question.question_idx, example.example_idx
	</select>
	
	<select id="selectTestList"
		resultType="java.util.Map"
		parameterType="java.util.Map">
		SELECT DISTINCT
			testNo
			, teacherNo
			, testTitle
			, testDate
			, teacherName
			, studentNo
			, score
		FROM
			(SELECT
			test.test_no testNo
			, test.teacher_no teacherNo
			, test.test_title testTitle
			, test.test_date testDate
			, teacher.teacher_name teacherName
			, student.student_no studentNo
			, score.score score
			FROM test
			INNER JOIN teacher
			ON test.teacher_no = teacher.teacher_no
			INNER JOIN score
			ON test.test_no = score.test_no
			INNER JOIN student
			ON score.student_no = student.student_no
			UNION
			SELECT
			test.test_no testNo
			, test.teacher_no teacherNo
			, test.test_title testTitle
			, test.test_date testDate
			, teacher.teacher_name teacherName
			, null studentNo
			, null score
			FROM test
			INNER JOIN teacher
			ON test.teacher_no = teacher.teacher_no) t
		WHERE (studentNo = #{studentNo} OR studentNo IS NULL)
		<if test="teacherNo != 0">
			AND t.teacherNo = #{teacherNo}
			<if test="searchWord != null || searchWord != ''">
				AND test_title LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</if>
		GROUP BY testNo
		ORDER BY t.teacherNo DESC
		LIMIT #{beginRow}, #{rowPerPage}
		
		<!--
		SELECT
			test.test_no testNo
			, test.teacher_no teacherNo
			, test.test_title testTitle
			, test.test_date testDate
			, teacher.teacher_name teacherName
		FROM test INNER JOIN teacher
			ON test.teacher_no = teacher.teacher_no
		<where>
			<if test="teacherNo != 0">
				test.teacher_no = #{teacherNo}
				<if test="searchWord != null || searchWord != ''">
					AND test_title LIKE CONCAT('%', #{searchWord}, '%')
				</if>
			</if>
		</where>
		ORDER BY test.teacher_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
		 -->
	</select>
	
	<select id="selectTestCount"
		resultType="int"
		parameterType="java.util.Map">
		
		SELECT
			count(*)
		FROM
			test
		<where>
			<if test="teacherNo != null || teacherNo != 0">
				test.teacher_no = #{teacherNo}
				<if test="searchWord != null || searchWord != ''">
					AND test_title LIKE CONCAT('%', #{searchWord}, '%')
				</if>
			</if>
		</where>
	</select>
</mapper>